./IRemote/*.csproj
./IRemote/bin/*
./IRemote/obj/*
./TheClient/*.csproj
./TheClient/bin/*
./TheClient/obj/*
./TheClientSender/*.csproj
./TheClientSender/bin/*
./TheClientSender/obj/*
./TheServer/*.csproj
./TheServer/bin/*
./TheServer/obj/*
